apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-storage-nfs
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ''              # static PV
  mountOptions:
    - nfsvers=4.2
    - rsize=1048576
    - wsize=1048576
    - hard
    - timeo=600
    - retrans=2
  nfs:
    server: 172.20.50.10            # sanitized NFS server IP
    path: /opt/kubernetes/samba/media
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-storage
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: ''              # must match PV
  volumeName: media-storage-nfs     # must equal PV name
