apiVersion: v1
kind: Service
metadata:
  name: prowlarr
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: 172.20.50.202
  selector:
    app: prowlarr
  ports:
    - name: http
      port: 8384
      targetPort: 9696
