apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: 172.20.50.204
  selector:
    app: radarr
  ports:
    - name: http
      port: 8386
      targetPort: 7878
