apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: 172.20.50.205
  selector:
    app: sonarr
  ports:
    - name: http
      port: 8387
      targetPort: 8989
