apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: 172.20.50.203
  selector:
    app: qbittorrent
  ports:
    - name: http
      port: 8385
      targetPort: 8080
