apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: 172.20.50.201
  selector:
    app: jellyfin
  ports:
    - name: http
      port: 8383
      targetPort: 8096
